# 编辑器配置
.idea/
.vscode/
.lingma/
*.iml
# 依赖包目录
node_modules/
vendor/
# 构建产物
dist/
build/
# 系统文件
.DS_Store
Thumbs.db
# 日志文件
*.log

target/
out
*.log
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/target/
!**/node_modules/
!**/vendor/
!**/dist/
!**/build/
!**/out/